<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cephalopod Test</title>
    <link href="/styles/css/bootstrap.css" rel="stylesheet">
    <link href="/styles/css/blog.css" rel="stylesheet">
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">Item #2</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">There should be a seven: <clj src="(+ 5 2)"/></h1>
        <p class="lead blog-description">Cephalopod Test Description</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Post title goes here</h2>
            <p class="blog-post-meta">Date by <a href="#">Author</a></p>
            <clj src="(assoc! cephalopod.handler/pagemap :foo 1)" />
            <clj src="(pr-str (:foo cephalopod.handler/pagemap))" /></br>
            <clj src="(cephalopod.handler/clj-tags-namespace-testing-function)"/> </br>
            <clj src="(pr-str "I should have quotes around me")"/>
            <!clj src="(slurp "../foo.clj")"/>
            <hr>

            <blockquote>
              [...]and for the first
              time in his life he realised the whole horror of that loneliness to
              which, perhaps, all greatness is condemned.</br>
              -- Elizabeth Forster-Nietzsche, foreward to <em>Thus Spake Zarathustra</em>
            </blockquote>

            The following code should <strong>not</strong> appear in evaluated form:
            <pre><code>(+ 3 2)</code></pre>


          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">Date by <a href="#">Author</a></p>

            A rambling discourse will soon encompass this space.

          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">Date by <a href="#">Me</a></p>

            The first feature I want is a working blog.

          </div><!-- /.blog-post -->

          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>This is the blog template I am using to develop Cephalopod.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
              <li><a href="#">March 2013</a></li>
              <li><a href="#">February 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="http://github.com/deckeraa">GitHub</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p><a href="http://www.github.com/deckeraa/cephalopod">Cephalopod</a></p>
      <p>This site uses Twitter Bootstrap for styling.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
